.experience-card__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.experience-card__info p {
    color: black;
    font-size: 0.9em;
    font-weight: 600;
    margin: 0;
}

.experience-card__info button {
    padding: 0.5em 1.8em;
    font-size: 0.7em;
}

@media screen and (min-width: 1440px) {
    .experience-card__info p {
        font-size: 1.2em;
    }

    .experience-card__info button {
        font-size: 0.9em;
    }
}

