.default-card {
    position: relative;

    background-color: white;
    border-radius: 0.6em;
    box-shadow: 2px 2px 8px 0 rgba(255, 255, 255, 0.3);
    transition: 0.3s ease;
}

.default-card:hover {
    box-shadow: 1px 1px 8px 0 rgba(255, 255, 255, 0.8);
}

.default-card__content {
    padding: 1.57em 0.6em 0.6em 0.6em;
}

.default-card__content__image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.default-card__content__image img {
    width: 15em;
    height: 10em;
    max-width: 60%;
    max-height: 100%;
}

.default-card__content__ {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.default-card__content__text h3 {
    color: black;
    margin-top: 0.4em;
    margin-bottom: 0.1em;
    text-align: center;
}

.default-card__content__text p {    
    display: -webkit-box;
    display: box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    
    color: rgb(104, 99, 99);
    margin: 0.2em 0;
}

.default-card__content__component {
    border-top: 0.06em dashed rgba(0, 0, 0, 0.35);
    padding-top: 0.5em
}

@media screen and (max-width: 600px) {
    .default-card {    
        width: 22.5em;
        max-width: 95vw;
        min-height: 25em;
        max-height: 75vh;
    }

    .default-card__content__image {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .default-card__content__component {
        position: absolute;
        bottom: 15px;
        left: 15px;
        width: 90%;
    }
}

@media screen and (min-width: 600px) {
    .default-card {
        width: 100%;
    }

    .default-card__content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 1.25em 1.87em;
        transition: all 0.3s ease-in-out;
        height: 9em;
    }

    .default-card__content__image {
        max-width: 20%;
        min-width: 10%;
    }

    .default-card__content__image img {
        max-width: 100%;
        width: 8em;
        height: 8em;
        object-fit: fill;
        display: block;
    }

    .default-card__content__ {
        width: 80%;
    }

    .default-card:hover .default-card__content {
        height: 10em;
    }

    .default-card:hover .default-card__content__image img {
        width: 9em;
        height: 9em;
    }    

    .default-card__content__ {
        height: 100%;
        margin-left: 1.5em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .default-card__content__text h3 {
        font-size: 1.1em;
        margin-top: 0;
        text-align: start;
    }
    .default-card__content__text p {
        font-size: 0.9em;
    }

    .default-card:hover .default-card__content__text p {
        -webkit-line-clamp: 4;
        line-clamp: 4;
    }

    .default-card:hover .default-card__content__text h3 {
        font-size: 1.2em;
    }

    .default-card__content__component {
        margin-top: 0;
    }
}

@media screen and (max-width: 1000px) and (orientation: landscape) {    

}

@media screen and (min-width: 1024px) {
    .default-card__content {
        height: 10em;
    }

    .default-card__content__image img {
        width: 9em;
        height: 9em;
    }

    .default-card:hover .default-card__content {
        height: 11em;
    }

    .default-card:hover .default-card__content__image img {
        width: 10em;
        height: 10em;
    }    

    .default-card__content__text h3 {
        font-size: 1.2em;
    }

    .default-card__content__text p {
        font-size: 1em;
    }

    .default-card:hover .default-card__content__text h3 {
        font-size: 1.3em;
    }
}

@media screen and (min-width: 1440px) { 
    .default-card__content {
        height: 13em;
    }

    .default-card__content__image img {
        width: 12em;
        height: 12em;
    }

    .default-card:hover .default-card__content {
        height: 14em;
    }

    .default-card:hover .default-card__content__image img {
        width: 13em;
        height: 13em;
    }    

    .default-card__content__text h3 {
        font-size: 1.4em;
    }

    .default-card__content__text p {
        font-size: 1.2em;
    }

    .default-card:hover .default-card__content__text h3 {
        font-size: 1.5em;
    }
}