.button {
    padding: 9.6px 96px;
    font-size: 0.9em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--secondary-color);
    border: var(--secondary-color) 0.13em solid;
    border-radius: 1.2em;
    cursor: pointer;
    transition: border-color 0.25s;
    color: white;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);}

.button:hover {
    border-color: #646cff;
}

.button:focus,
.button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
