.button {
    padding: 0.6em 6em;
    font-size: 0.9em;
    font-weight: 500;
    font-family: inherit;
    background-color: #2E1656;
    border: #2E1656 0.13em solid;
    border-radius: 1.2em;
    cursor: pointer;
    transition: border-color 0.25s;
    color: white;
    box-shadow: 1.9em 1.9em 0.45em rgba(0, 0, 0, 0.45);}

.button:hover {
    border-color: #646cff;
}

.button:focus,
.button:focus-visible {
    outline: 0.25em auto -webkit-focus-ring-color;
}
