.group-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 0 1em;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
    padding: 1em 0;
}

.group-cards {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
}

.group-cards::-webkit-scrollbar {
    width: 0.5em;
}

.group-cards::-webkit-scrollbar-track {
    background: transparent;
}

.group-cards::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.25em;
}

.group-cards::-webkit-scrollbar-button {
    display: none;
}

@media screen and (max-width: 600px) {
    .group-cards {    
        min-width: 96vw;
        max-width: 96vw;
        max-height: 78vh;
    }

    .group-cards > * {
        min-width: 96vw;
        flex: 0 0 auto;
    }
}

@media screen and (min-width: 600px) {
    .group-cards {
        flex-direction: column;
        gap: 0.8em 0;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 1em 0.5em 1em 0.5em;
        max-height: calc(clamp(10rem, 20vh, 20rem) * 3);
    }
}