.project-card {
    position: relative; 
    margin: auto;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.45);
}

.project-card:hover {
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.7);
}

.project-card__tecnologies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

@media screen and  (max-width: 400px) {
    .project-card {    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        min-width: 360px;
        max-width: 360px;
        max-height: 450px;
    }

    .project-card__tecnologies {
        margin: 1em 0;
    }
}

@media screen and (min-width: 600px) {
    .project-card {     
        display: flex;
        width: 80%;
    }
    
    .project-card__tecnologies {
        position: absolute;
        justify-content: start;

        bottom: 1em;
        left: 13em;
    }

    .project-card:hover .project-card__tecnologies {
        left: 14em;
        transition: 0.3s ease-in-out;
    }
}
