.project-card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-card__tecnologies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

@media screen and (min-width: 600px) { 
    .project-card {
        align-items: center;
        justify-content: start;
    }
}