.project-card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-card__technologies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
    padding: 0 1em 1em 0;
    margin: 0;
    overflow: hidden;
}

.project-card__technologies li button {
    padding: 0.6em 1.3em;
    font-size: 0.7em;
}

@media screen and (min-width: 600px) { 
    .project-card {
        align-items: center;
        justify-content: start;
    }

    .project-card__technologies {
        justify-content: start;
    }
}

@media screen and (min-width: 1440px) {
    .project-card__technologies li button {
        font-size: 0.9em;
    }
}