.menu-section {
    position: relative;
}

.menu-section__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;

    position: absolute;
    bottom: 2.5em;
    left: 50%;
    transform: translateX(-50%);

    padding: 0.6em 0;
    margin: 0;

    min-width: 21.85em;
    max-width: 21.85em;

    background-color: var(--secondary-color);
}

.menu-section__items li button {
    all: unset;
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    font-weight: 600;
    cursor: pointer;
}

.menu-section__items li button {
    color: white;
    border: 0.06em solid rgba(255, 255, 255, 0.35);
    border-radius: 0.6em;
    width: 16.9em;
    height: 3.1em;

    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-section__items li button:hover {
    border: 0.06em solid rgba(255, 255, 255, 0.9);
    background-color: var(--secondary-color-hover);
    transition: 0.1s;
}

.menu-section__items li button:active {
    border: 0.06em solid rgba(255, 255, 255, 0.05);
}

.menu-section__items li::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 16.9em;
    height: 0.01em;

    background-color: rgba(255, 255, 255, 0.15);
    content: ' ';
}

.menu-section__button {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 600px) {
    .menu-section__button button img {
        width: 1.9em;
        height: 1.9em;
    }
}

@media screen and (min-width: 600px) {
    
}

@media screen and (max-width: 1000px) and (orientation: landscape) {
    .menu-section__items {
        min-width: 100%;
        max-width: 100%;
    }
    
    .menu-section__items li button {
        font-size: 0.7em;
    }
    
    .menu-section__items li::after {
        width: 13em;
    }
}

@media screen and (min-width: 1024px) {
    .menu-section__button button  {
        width: 26.23em;
    }
}

@media screen and (min-width: 1440px) {
    .menu-section__button button  {
        height: 4em;
    }
    
    .menu-section__items {
        bottom: 3.3em;
    }
}