.menu-section {
    position: relative;
}

.menu-section__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;

    position: absolute;
    bottom: 60px;
    left: -6.7em;

    padding: 10px 0;
    margin: 0;

    min-width: 21.85em;
    max-width: 21.85em;

    background-color: #2E1656;
}

.menu-section__items li button {
    all: unset;
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    font-weight: 600;
    cursor: pointer;
}

.menu-section__items li button {
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.35);
    border-radius: 10px;
    width: 270px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-section__items li button:hover {
    border: 1px solid rgba(255, 255, 255, 0.9);
    background-color: rgb(44, 21, 82);
    transition: 0.1s;
}

.menu-section__items li button:active {
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.menu-section__items li::after {
    position: absolute;
    bottom: 0;
    width: 270px;
    height: 0.01em;

    background-color: rgba(255, 255, 255, 0.15);
    content: ' ';
}

@media screen and (max-width: 400px) {
    .menu-section__button button img {
        width: 30px;
        height: 30px;
    }
}