.menu-section__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;

    background-color: #2E1656;
}

.menu-section__items a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    font-weight: 600;
}

.menu-section__items a li {
    border: 1px solid rgba(255, 255, 255, 0.35);
    border-radius: 10px;
    width: 270px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-section__items a li:hover {
    border: 1px solid rgba(255, 255, 255, 0.9);
    background-color: rgb(44, 21, 82);
    transition: 0.1s;
}

.menu-section__items a li:active {
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.menu-section__button::before {
    position: absolute;
    top: 0;
    left: -50px;
    width: 225px;
    height: 1px;

    background-color: rgba(255, 255, 255, 0.35);
    content: ' ';
}

@media screen and (min-width: 600px) {
    .menu-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        min-width: 350px;
        max-width: 350px;

        background-color: #2E1656;
        box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.45);
    }

    .menu-section__items {
        padding: 0;
    }

    .menu-section__button {
        position: relative;
    }
}

@media screen and (max-width: 400px) {
    .menu-section {
        position: relative;
    }

    .menu-section__items {
        position: absolute;
        bottom: 60px;
        left: -113px;

        padding: 10px 0;
        margin: 0;

        min-width: 350px;
        max-width: 350px;
    }
}