.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 0.6em;
    margin: auto;
    height: 100%;
    max-height: 40em;

}

.contact-form h2 {
    text-align: center;
    margin: 0.4em 0;
}

.contact-form h2 span {
    color: var(--secondary-color);
}

.contact-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form form input, textarea {
    border-radius: 1em;
    border: 0.06em solid var(--secondary-color);
    padding-left: 0.8em;
    font-size: 1em;
    color: var(--secondary-color);
}

.contact-form form textarea {
    resize: none;
    font-size: 1.2em;
}

.contact-form form textarea::-webkit-scrollbar {
    display: none;
}

.contact-form form {
    gap: 0.8em;
    margin-bottom: 1.3em;
}

.contact-form form input, textarea {
    width: 16.8em;
    height: 2.5em;
}

.contact-form form textarea {
    height: 6.25em;
    margin-bottom: 0.5em;
}

.contact-form form button {
    padding: 0.6em 6em;
    font-size: 0.9em;
}

.modal {
    padding: 2em;
    border-radius: 1em;
    border: none;
    text-align: center;
    background: white;
}

.modal::backdrop {
    background: rgba(0, 0, 0, 0.4);
}

.modal p {
    font-size: 1.1em;
    font-weight: 500;
}

.modal button {
    margin-top: 1em;
    padding: 0.6em 3em;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .contact-form {    
        min-width: 22.5em;
        max-width: 22.5em;
    } 

    .contact-form h2 {
        font-size: 2em;
    }
}

@media screen and (min-width: 600px) {
    .contact-form {    
        width: 80%;
    }

    .contact-form h2 {
        font-size: 2em;
    }

    .contact-form form input, textarea {
        width: 24em;
    }
    
    .contact-form form textarea {
        height: 10em;
    }
}

@media screen and (max-width: 1000px) and (orientation: landscape) {
    .contact-form h2 {
        font-size: 1.5em;
    }

    .contact-form form input, textarea {
        height: 1.8em;
    }

    .contact-form form textarea {
        height: 2em;
    }

    .contact-form form button {
        font-size: 0.7em;
    }
}

@media screen and (min-width: 1024px) {
    .contact-form {
        max-width: 55em;
    }
    .contact-form form input, textarea {
        width: 30em;        
    }

    .contact-form form textarea {
        height: 10em;
    }
}

@media screen and (min-width: 1440px) {
    .contact-form {
        width: 60%;
    }

    .contact-form form input, textarea {
        height: 3em;        
    }

    .contact-form form textarea {
        height: 12em;
    }

    .contact-form form button {
        padding: 0.7em 7em;
        font-size: 1.1em;
    }
}