.group-cards {
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 0 1em;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
    padding: 0 1em;
}

@media screen and (max-width: 600px) {
    .group-cards {    
        min-width: 100%;
        max-width: 22.5em;
        min-height: 26.5em;
        max-height: 26.5em;
    }
}

@media screen and (min-width: 600px) {
    .group-cards {
        flex-direction: column;
        gap: 0.8em 0;
        width: 100%;
        max-width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 1em 0.5em 1em 0.5em;
    }
}

@media screen and (min-width: 1024px) {
    .group-cards {
        max-width: 90em;
    }
}
