@media screen and (min-width: 1024px) {
    .arrow-section button {
        width: 3.75em;
        height: 30vh;
        background-color: unset;
    }

    .arrow-section button > img {
        opacity: 20%;
        transition: opacity 0.3s ease;
        width: 3.13em;
        height: 3.13em;
    }

    .arrow-section button:hover img {
        opacity: 100%;
    }
}

