@media screen and (min-width: 1024px) {
    .arrow-section button {
        width: 60px;
        height: 30vh;
        background-color: unset;
    }

    .arrow-section button > img {
        opacity: 20%;
        transition: opacity 0.3s ease;
        width: 50px;
        height: 50px;
    }

    .arrow-section button:hover img {
        opacity: 100%;
    }
}

