.arrow-section {
    height: 100%;
}

@media screen and (min-width: 1024px) {
    .arrow-section button {
        background-color: unset;
    }

    .arrow-section button > img {
        opacity: 20%;
        transition: opacity 0.3s ease;
    }

    .arrow-section button:hover img {
        opacity: 100%;
    }
}

