.atual-section {
    position: fixed;
    z-index: 100;

    display: flex;
    align-items: center;
    gap: 0.5em;

    background-color: #1D0C3A;
    box-shadow: 0 0.13em 0.44em 0 rgba(0, 0, 0, 0.55);
    width: 100%;
    height: 90px;
}

.atual-section > img {
    padding-left: 1em;
    width: 4.3em;
    height: 4.3em;
}   

.atual-section__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    width: 70%;
    padding-left: 0.5em;
    color: white;
}

.atual-section__content h2 {
    font-size: 1.6em;
    font-weight: 600;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease;
}

.atual-section__content__icons {
    display: flex;
    padding: 0 0em 0 0;
    gap: 0.8em;
}

.atual-section__content h2,
.atual-section__content__icons {
    opacity: 0.5;
    transform: translateY(-0.63em);
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

.atual-section__content h2.visible,
.atual-section__content__icons.visible {
    opacity: 1;
    transform: translateY(0);
}

.atual-section__content__icons li,
.atual-section__content__icons li a:hover img  {  
    width: 1.6em;
    height: 1.6em;
}

.atual-section__content__icons li img {  
    width: 1.3em;
    height: 1.3em;
}

.change-view {
    display: relative;
}

.change-view button {
    position: fixed;
    z-index: 101;
    top: 6.2em;
    right:calc(50% - 5em);
    width: 10em;
    height: 2em;

    background-color: #1D0C3A;
    border:0.31em solid #1D0C3A;
    box-shadow: 0.13em 0.31em 0.5em 0 rgba(255, 255, 255, 0.04);
    border-radius: 0 0 3.75em 3.75em;

    color: white;
    font-size: 0.8em;
    font-weight: 600;
    transition: 0.1s ease;
}

.change-view button:hover {
    background-color: #2E1656;
    color: white;
}

.change-view button:hover:active {
    background-color: white;
    color: #1D0C3A;
}

@media screen and (min-width: 600px) {
    .atual-section {
        height: 100px;
    }

    .atual-section__content h2 {
        font-size: 2em;
    }

    .atual-section__content__icons li,
    .atual-section__content__icons li a:hover img {  
        width: 1.75em;
        height: 1.75em;
    }
 
    .atual-section__content__icons li img {  
        width: 1.5em;
        height: 1.5em;
    }

    .change-view button {
         top: 7.2em
    }
}

@media screen and (max-width: 1000px) and (orientation: landscape) {
    .atual-section {
        height: 60px;
    }

    .atual-section > img {
        width: 2.8em;
        height: 2.8em;
    }

    .atual-section__content {
        width: 80%;
    }

    .change-view button {
        top: 3.6em;
    }
}

@media screen and (min-width: 1024px) {
    .atual-section__content {
        gap: 2em;
        width: 100%;
        padding-left: 1em;
    }
    
    .atual-section__content h2 {
        font-size: 2.4em;
    }

    .atual-section__content__icons {
        gap: 2em;
        padding-right: 10em;
    }

    .atual-section__content__icons li,
    .atual-section__content__icons li a:hover img {  
        width: 2.25em;
        height: 2.25em;
    }
 
    .atual-section__content__icons li img {  
        width: 2em;
        height: 2em;
    }
}

@media screen and (min-width: 1440px) {
}