.atual-section {
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #1D0C3A;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.55);
    width: 100%;
    height: 90px;
}

.atual-section > img {
    padding-left: 16px;
    width: 70px;
    height: 70px;
}   

.atual-section__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    width: 70%;
    padding-left: 8px;
    color: white;
}

.atual-section__content h2 {
    font-size: 25px;
    font-weight: 600;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease;
}

.atual-section__content__icons {
    display: flex;
    padding: 0 0 0 0;
    gap: 12px;
}

.atual-section__content h2,
.atual-section__content__icons {
    opacity: 0.5;
    transform: translateY(-10px);
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

.atual-section__content h2.visible,
.atual-section__content__icons.visible {
    opacity: 1;
    transform: translateY(0);
}

.atual-section__content__icons li,
.atual-section__content__icons li a:hover img  {  
    width: 25px;
    height: 25px;
}

.atual-section__content__icons li img {  
    width: 20px;
    height: 20px;
}

.change-view {
    display: relative;
}

.change-view button {
    position: fixed;
    z-index: 101;
    top: 75px;
    right: calc(50% - 80px);
    width: 160px;
    height: 32px;

    background-color: #1D0C3A;
    border: 5px solid #1D0C3A;
    box-shadow: 2px 5px 8px rgba(255, 255, 255, 0.04);
    border-radius: 0 0 60px 60px;

    color: white;
    font-size: 12px;
    font-weight: 600;
    transition: 0.1s ease;
}

.change-view button:hover {
    background-color: #2E1656;
    color: white;
}

.change-view button:hover:active {
    background-color: white;
    color: #1D0C3A;
}

@media screen and (min-width: 600px) {
    .atual-section {
        height: 100px;
    }

    .atual-section__content h2 {
        font-size: 32px;
    }

    .atual-section__content__icons li,
    .atual-section__content__icons li a:hover img {  
        width: 28px;
        height: 28px;
    }
 
    .atual-section__content__icons li img {  
        width: 24px;
        height: 24px;
    }

    .change-view button {
         top: 85px;
    }
}

@media screen and (max-width: 1000px) and (orientation: landscape) {
    .atual-section {
        height: 60px;
    }

    .atual-section > img {
        width: 50px;
        height: 50px;
    }

    .atual-section__content {
        width: 80%;
    }

    .change-view button {
        top: 45px;
    }
}

@media screen and (min-width: 1024px) {
    .atual-section__content {
        gap: 32px;
        width: 100%;
        padding-left: 16px;
    }
    
    .atual-section__content h2 {
        font-size: 38px;
    }

    .atual-section__content__icons {
        gap: 32px;
        padding-right: 160px;
    }

    .atual-section__content__icons li,
    .atual-section__content__icons li a:hover img {  
        width: 36px;
        height: 36px;
    }
 
    .atual-section__content__icons li img {  
        width: 32px;
        height: 32px;
    }
}

@media screen and (min-width: 1440px) {
}
