.home-header {
  min-height: 14vh;
  max-height: 14vh;
}

.home-main {
  height: 78vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0;
}

.home-main .content .group-cards {
  box-sizing: border-box;
  height: 75vh;
}

.home-main .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
  
.section-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
}

@media screen and (min-width: 600px) {  
  .home-main {
    width: 85%;
    margin: auto;
    min-height: 74vh;
    max-height: 74vh;
  }

  .home-main .content .group-cards {
    box-sizing: border-box;
    height: 75vh;
  }

  .section-buttons {
    position: relative;
    background-color: #1D0C3A;
    min-height: 10vh;
    max-height: 10vh;
  }

  .section-buttons__left-arrow {
    position: absolute;
    left: -1px;
    bottom: 16em;
  }

  .section-buttons__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2E1656;
    width: 21.85em;
  }

  .section_buttons__right-arrow {
    position: absolute;
    right: -1px;
    bottom: 16em;
  }
}
