.home-header {
  flex-shrink: 0;
}

.home-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  margin-bottom: 0;
}

.home-main .content .group-cards {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.home-main .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
  
.section-buttons {
  position: fixed;
  bottom: 0;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 100%;
  height: 60px;
  background-color: #2E1656;
}
  
@media screen and (max-width: 600px) {
  .home-header {
    height: calc(90px - 60px);
  }

  .home-main {
    height: calc(100vh - 60px - 90px);
  }

  .section-buttons__left-arrow {
    width: 33.33%;
  }
  
  .section-buttons__right-arrow {
    width: 33.33%;
  }
  
  .section-buttons__menu {
    width: 33.33%;
  }
}

@media screen and (min-width: 600px) {  
  .home-header {
    height: calc(100px - 60px);
  }

  .home-main .content .group-cards {
    max-height: calc(100vh - 100px - 60px);
  }
  
  .section-buttons__left-arrow {
    width: 33.33%;
  }
  
  .section-buttons__right-arrow {
    width: 33.33%;
  }
  
  .section-buttons__menu {
    width: 33.33%;
  }
}

@media screen and (max-width: 1000px) and (orientation: landscape) {
  .home-header {
    height: calc(60px - 60px);
  }

  .home-main .content .group-cards {
    max-height: calc(100vh - 60px - 60px);
  }
}

@media screen and (min-width: 1024px) {  
  .home-main {
    width: 80%;
    margin: auto;
  }

  .home-main .content .group-cards {
    box-sizing: border-box;
  }

  .section-buttons {
    background-color: #1D0C3A;
  }

  .section-buttons__left-arrow {
    width: 60px;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
  }
  .section-buttons__right-arrow {
    width: 60px;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .section-buttons__left-arrow{
    left: -0.06em;
  }

  .section-buttons__right-arrow {
    right: -1em;
  }

  .section-buttons__menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1440px) {}