.about-me {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: white;
    border-radius: 0.6em;
    padding: 0.6em;
}

.about-me img {
    width: 70%;
    max-height: 15.62em;
    height: 50%;
    margin: 1em;
    border-radius: 0.6em;
}

.about-me__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me__content h2 {
    text-align: center;
    color: var(--secondary-color);
    font-size: 1.6em;
    font-weight: 700;
    margin: 0;
}    

.about-me__content p {
    font-size: 0.9em;
    color: rgb(104, 99, 99);
    margin: 1em 0;
}

@media screen and (max-width: 600px) {
    .about-me {
        max-width: 22.5em;
        max-height: 34em;
    }
}

@media screen and (min-width: 600px) {
    .about-me {
        height: 65vh;
        flex-direction: row;
        max-height: 20em;
        max-width: 90em;
    }

    .about-me img {
        width: 12.75em;
        height: 12.75em;
        order: 2;
    }

    .about-me__content {
        margin: 0 1em;
        order: 1;
    }

    .about-me__content h2 {
        font-size: 1.2em;
        
    }

    .about-me__content p {
        font-size: 1em;
        margin: 0;
    }
    
}

@media screen and (min-width: 1024px) {
    .about-me {
        height: 70vh;
        flex-direction: row;
        width: 90%;
        max-height: 26em;
    }

    .about-me__content h2 {
        font-size: 2em;
        
    }

    .about-me__content p {
        margin-top: 1em;
    }
}

@media screen and (min-width: 1440px) {
    .about-me {
        max-height: 35em;
    }


    .about-me img {
        width: 20em;
        height: 20em;
    }

    .about-me__content {
        order: 1;
    }

    .about-me__content h2 {
        font-size: 2.5em;
    }

    .about-me__content p {
        font-size: 1.5em;
        margin-top: 0.5em;
    }
}
