.about-me {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: clamp(20rem, 90vw, 40rem);
    max-width: 90%;
    max-height: 80vh;
}

.about-me__image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me__image img {
    width: clamp(12rem, 80vw, 26.62rem);
    min-width: 50%;
    max-width: 90%;
    height: clamp(12rem, 30vh, 26.62rem);
    min-height: 50%;
    max-height: 100%;
    margin: 0.5rem;
    border-radius: 10px;
}

.about-me__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.about-me__content h2 {
    text-align: center;
    color: var(--secondary-color);
    font-size: clamp(1.7rem, 4vh, 3rem);
    font-weight: 700;
    margin: 0;
}    

.about-me__content p {
    font-size: clamp(0.8rem, 2vh, 2.5rem);
    color: rgb(104, 99, 99);
    margin: 0;
}

@media screen and (min-width: 600px) {
    .about-me {
        flex-direction: row-reverse;
        width: 50rem;
        max-width: 90%;
        max-height: 70vh;
    }

    .about-me__image {
        min-width: 30%;
        max-width: 45%;
        max-height: 100%;
    }

    .about-me__image img {
        min-width: 50%;
        max-width: 90%;
        height: clamp(15rem, 30vh, 26.62rem);
        max-height: 100%;
    }

    .about-me__content {
        margin: 0 1em;
    }

    .about-me__content h2 {
        font-size: clamp(1.4rem, 3vh, 3rem);
        
    }

    .about-me__content p {
        font-size: clamp(1rem, 2vh, 1.8rem);
        margin: 0.5em 0;
    }
}

@media screen and (max-width: 1000px) and (orientation: landscape) {
    .about-me__image {
        min-width: 30%;
        max-width: 30%;
    }
    
    .about-me__content h2 {
        font-size: clamp(1.2rem, 5vh, 3rem);
    }
    
    .about-me__content p {
        font-size: clamp(0.8rem, 4vh, 2rem);
    }
    
}

@media screen and (min-width: 1024px) {
    .about-me {
        max-height: 65vh;
    }

    .about-me__image {
        max-width: 40%
    }

    .about-me__image img {
        height: clamp(12rem, 30vh, 26.62rem);
    }

    .about-me__content h2 {
        font-size: clamp(1.6em, 3vh, 3rem); 
    }

    .about-me__content p {
        font-size: clamp(0.8rem, 2vh, 1.8rem);
        margin: 0.2em 0;
    }
}

@media screen and (min-width: 1440px) {
    .about-me {
        min-width: 90%;
        max-width: 95%;
        max-height: 70vh;
    }

    .about-me__image {
        max-width: 10%;
    }

    .about-me__image img {
        height: clamp(12rem, 30vh, 26.62rem);
    }

    .about-me__content h2 {
        font-size: clamp(1.8em, 3vh, 3rem); 
    }

    .about-me__content p {
        font-size: clamp(1rem, 2vh, 1.8rem);
        margin: 0.4em 0;
    }
}
